{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": 0,
    "new-cap": 0,
    "no-restricted-syntax": 0,
  },
  "globals": {
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false,
  }
}
